Data: https://www.kaggle.com/blastchar/telco-customer-churn

In [2]:
#download data:
!curl --create-dirs -o '../data/data_week_3/data.csv' 'https://storage.googleapis.com/kagglesdsdata/datasets/13996/18858/WA_Fn-UseC_-Telco-Customer-Churn.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220928%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220928T060412Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=b96a5aba5b295143f5bce6f3d09362e39a2e421d3eea97fd3738c6631b87d367842491de97bf2b354d9e6192cff374a6840109159ecc767cbe30e5de8ccb3aa2bdcb5561acfbcb571e785bb0f3b7aad8a4dabcc81b4bd45edaf74613293951c61b5063e79df4d129a9dceeec63b9e9253a84e8d470e2533d40d6daea748b858563eb944f16dc719685613f224f8ed8822b147d59a32b39cd8d3f592324879051fa91631ccc0273a3c6fe8c2535940b1fd31e430750445dba0f575ab8be3a2eedb88cfefda9667f62157020cf73bfee6b441fff6b89b60892efcb0a083ef0b5396dc47c2fdf0647bdce5d0d457267ad31e399cf769485fc241f156db10b2c22a1'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  954k  100  954k    0     0  4912k      0 --:--:-- --:--:-- --:--:-- 4920k

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

## Data preparation

In [3]:
#load data as pandas df:
df = pd.read_csv('../data/data_week_3/data.csv')

In [4]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [5]:
#rename columns:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head().T

,0,1,2,3,4
customerid,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
seniorcitizen,0,0,0,0,0
partner,Yes,No,No,No,No
dependents,No,No,No,No,No
tenure,1,34,2,45,2
phoneservice,No,Yes,Yes,No,Yes
multiplelines,No phone service,No,No,No phone service,No
internetservice,DSL,DSL,DSL,DSL,Fiber optic
onlinesecurity,No,Yes,Yes,Yes,No
onlinebackup,Yes,No,Yes,No,No
deviceprotection,No,Yes,No,Yes,No
techsupport,No,No,No,Yes,No
streamingtv,No,No,No,No,No
streamingmovies,No,No,No,No,No
contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
paperlessbilling,Yes,No,Yes,No,Yes
paymentmethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,No,No,Yes,No,Yes

In [6]:
#convert string columns values to proper formating:

string_columns = list(df.columns[df.dtypes == 'object'])
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [7]:
#convert churn column to int:
df.churn = (df.churn=='yes').astype(int)

In [8]:
#column totalcharges is object, convert to int
print(df.head(1).T)

df['totalcharges'] = pd.to_numeric(df['totalcharges'], errors='coerce')

                                 0
customerid              7590-vhveg
gender                      female
seniorcitizen                    0
partner                        yes
dependents                      no
tenure                           1
phoneservice                    no
multiplelines     no_phone_service
internetservice                dsl
onlinesecurity                  no
onlinebackup                   yes
deviceprotection                no
techsupport                     no
streamingtv                     no
streamingmovies                 no
contract            month-to-month
paperlessbilling               yes
paymentmethod     electronic_check
monthlycharges               29.85
totalcharges                 29.85
churn                            0

In [9]:
#convert null values from totalcharges to 0:
print(df.isnull().sum())

df.totalcharges.fillna(0, inplace=True)

customerid           0
gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

In [10]:
# split data to train, test, val sets
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=.25, random_state=1)
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [11]:
#reset index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [12]:
#create target series as y
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

#delete target from df_train, df_val, df_test
del df_train['churn']
del df_val['churn']
del df_test['churn']

## EDA

In [13]:
df_full_train = df_full_train.reset_index(drop=True)
df_full_train.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
1,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
2,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
3,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
4,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

In [14]:
df_full_train.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [20]:
df_full_train.churn.value_counts(normalize=True)
global_churn = df_full_train.churn.mean()
round(global_churn, 2)

0.27

In [21]:
#num_columns and cat_columns

num_columns = ['tenure', 'monthlycharges', 'totalcharges']

cat_columns = ['seniorcitizen', 'gender', 'partner', 'dependents', 'phoneservice',
               'multiplelines', 'internetservice', 'onlinesecurity', 'onlinebackup',
               'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies',
               'contract', 'paperlessbilling', 'paymentmethod']

#no of unique values in each ategorical columns:
df_full_train[cat_columns].nunique()

seniorcitizen       2
gender              2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [22]:
#Difference wrt to groups
#gender:
df_full_train.gender.value_counts()

churn_male_mean = df_full_train[df_full_train.gender == 'male'].churn.mean()
churn_female_mean = df_full_train[df_full_train.gender == 'female'].churn.mean()

print(f'Churn difference with  male: {(churn_male_mean-global_churn)}, \n\t\t female: {(churn_female_mean-global_churn)}')

# Findings: difference is almost same less than 1% of differnce is there
###############

# partner
df_full_train.partner.value_counts()

churn_no_partner_mean = df_full_train[df_full_train.partner == 'no'].churn.mean()
churn_partner_mean = df_full_train[df_full_train.partner == 'yes'].churn.mean()

print(f'Churn difference with  no partner: {(churn_no_partner_mean-global_churn)}, \n\t\t with partner: {(churn_partner_mean-global_churn)}')

# Findings: Users witout partner churn more approx 5%

Churn difference with  male: -0.006754520462819769,
		 female: 0.006855983216553063
Churn difference with  no partner: 0.05984095297455855,
		 with partner: -0.06493474245795922

In [23]:
#Risk ratio: if greater than 1 risk is high and vice versa
print(f'Churn Risk ratio with partner: {churn_partner_mean/global_churn}')
print(f'Churn Risk ratio without partner: {churn_no_partner_mean/global_churn}')

Churn Risk ratio with partner: 0.7594724924338315
Churn Risk ratio without partner: 1.2216593879412643

In [24]:
#Calculate diff and risk for all group (cat) columns:

for c in cat_columns:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean']-global_churn
    df_group['risk'] = df_group['mean']/global_churn
    display(df_group)
    print('*****************')
    print()

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

*****************

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

*****************

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

*****************

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

*****************

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

*****************

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561  0.953474
no_phone_service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

*****************

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber_optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

*****************

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

*****************

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

*****************

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

*****************

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  1.551717
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

*****************

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  1.269897
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

*****************

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

*****************

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  1.599082
one_year        0.120573   1186 -0.149395  0.446621
two_year        0.028274   1344 -0.241694  0.104730

*****************

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

*****************

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217 -0.105630  0.608733
electronic_check           0.455890   1893  0.185922  1.688682
mailed_check               0.193870   1305 -0.076098  0.718121

*****************

### Feature importance (categorical columns):

In [25]:
# mutual_information: mutual information is mutual dependence between the two variables.
from sklearn.metrics import mutual_info_score
def mutual_info_churn_score(series):
    return mutual_info_score(df_full_train.churn, series)

df_full_train[cat_columns].apply(mutual_info_churn_score).sort_values(ascending=False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

### Feature importance (numerical columns):

In [26]:
df_full_train[num_columns].corrwith(df_full_train.churn).abs()

tenure            0.351885
monthlycharges    0.196805
totalcharges      0.196353
dtype: float64

# One-Hot encoding

In [36]:
#We use DictVectorizer (it can take bot cat and numerical columns).
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)
train_dict = df_train[cat_columns + num_columns].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[cat_columns + num_columns].to_dict(orient='records')
X_val = dv.transform(val_dict)

# Train model on logistic regression

In [40]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [55]:
df_pred = pd.DataFrame()
df_pred['pred_proba'] = model.predict_proba(X_val)[:, 1]
df_pred['preds']= model.predict(X_val)
df_pred['actual'] = y_val

In [58]:
(df_pred['preds'] == df_pred['actual']).mean()

0.8034066713981547

# interpretation of coefficient and bias:

In [66]:
dict(zip(dv.get_feature_names(), model.coef_[0].round(3)))

/home/ubuntu/anaconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

{'contract=month-to-month': 0.475,
 'contract=one_year': -0.175,
 'contract=two_year': -0.408,
 'dependents=no': -0.03,
 'dependents=yes': -0.078,
 'deviceprotection=no': 0.063,
 'deviceprotection=no_internet_service': -0.089,
 'deviceprotection=yes': -0.081,
 'gender=female': -0.034,
 'gender=male': -0.073,
 'internetservice=dsl': -0.335,
 'internetservice=fiber_optic': 0.316,
 'internetservice=no': -0.089,
 'monthlycharges': 0.004,
 'multiplelines=no': -0.258,
 'multiplelines=no_phone_service': 0.141,
 'multiplelines=yes': 0.009,
 'onlinebackup=no': 0.063,
 'onlinebackup=no_internet_service': -0.089,
 'onlinebackup=yes': -0.081,
 'onlinesecurity=no': 0.266,
 'onlinesecurity=no_internet_service': -0.089,
 'onlinesecurity=yes': -0.284,
 'paperlessbilling=no': -0.231,
 'paperlessbilling=yes': 0.124,
 'partner=no': -0.166,
 'partner=yes': 0.058,
 'paymentmethod=bank_transfer_(automatic)': -0.087,
 'paymentmethod=credit_card_(automatic)': -0.032,
 'paymentmethod=electronic_check': 0.07,
 'paymentmethod=mailed_check': -0.059,
 'phoneservice=no': 0.141,
 'phoneservice=yes': -0.249,
 'seniorcitizen': 0.215,
 'streamingmovies=no': -0.12,
 'streamingmovies=no_internet_service': -0.089,
 'streamingmovies=yes': 0.102,
 'streamingtv=no': -0.071,
 'streamingtv=no_internet_service': -0.089,
 'streamingtv=yes': 0.052,
 'techsupport=no': 0.213,
 'techsupport=no_internet_service': -0.089,
 'techsupport=yes': -0.232,
 'tenure': -0.07,
 'totalcharges': 0.0}